{% load static %}
<!DOCTYPE html>
<html lang="en">
  <main>
    <div class="delete-form">
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ todolist_list }}"?</p>
        {{ form.as_p }}
        <div>
          <button>Delete</button>
        </div>
      </form>
    </div>
  </main>
</html>