{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{TodoList.name}}</title>
    </head>
    <body>
        <header>
            <div>
                <a href="{% url 'todolist_list' %}">Back to list</a>
                <a href="{% url 'todolist_edit' todolist.id %}">Edit</a>
                <a href="{% url 'todolist_delete' todolist.id %}">Delete</a>
            </div>
            <h1>{{todolist_list.name}}</h1>
        </header>
    </body>
    <main>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for abc in todolist.items.all %}
                    <tr>
                        <td>
                            <a href"{% url 'todoitem_edit' abc.pk %}">{{abc.task}}</a>
                        </td>
                        <td>{{abc.due_date}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
</html>
