{%load static%}

<!DOCTYPE html>
<html lang="en">
  <main>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <div>
        <button>Update</button>
      </div>
    </form>
  </main>
</html>
