{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        <header>
            <h1>To Do Lists</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'todolist_new' %}">Create A List</a>
                    </li>
                    <li>
                        <a href="{% url 'todoitem_create' %}">Create Item</a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
    <main>
        {% for xyz in todolist_list %}
            <h2>
                <a href="{% url 'todolist_detail' xyz.pk %}">{{xyz.name}}</a>
            </h2>
            <p>{{ xyz.updated }}</p>
        {%endfor%}
    </main>
    <footer></footer>
</html>